.nav-barra {
    background-color: $eerie-black;
    padding: 1.11875rem;

&__link:hover {
  color: $rudy-pink; 
  text-decoration: none; 
}    
}

.nav-barra__link {
    color: $white;
    padding: 0.5rem 0.5rem;
}

.logo-barber {
    width: 4.9rem;
}