//esquemas de color

//primer esquema
$white: #fff;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//segundo esquema
$fuzzy-wuzzy: #E56353;
$rudy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//tercer esquema
$eerie-black: #121619;
$raisin-black:#222323;
$nickel: #6C6E70;

//tipografias
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//peso de fuente
$regular: 400;
$regular-italic: 400;
$black-italic: 900;
$light: 300;

//tamaños de fuente
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

