.footer-section {
    background-color: $eerie-black;
    
}

.footer-logo img {
    width: 7.625rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        
}

.footer-logo {
    height: 12.875rem;
    position: relative;
    
   
}

