.header {
    background-image: url(../img/post-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    //padding:  0 100;
    color: $white;
    
}
.flex-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.header-title {
    font-weight: $black-italic;
    font-size: $xx-large;
    width: 51.6%;
    margin: 0;
   
}

@media only screen and (max-width:767px){
    .header-title {
        font-size: 40px;
        width: 76%;
    }
}

